<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the recovered_init() hook (in hooks/recovered.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="recovered-state-<%%VALUE(id)%%>" class="recovered-state"><%%SELECT%%><%%VALUE(state)%%><%%ENDSELECT%%></td>
		<td id="recovered-country-<%%VALUE(id)%%>" class="recovered-country"><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="recovered-lat-<%%VALUE(id)%%>" class="recovered-lat text-right"><%%SELECT%%><%%VALUE(lat)%%><%%ENDSELECT%%></td>
		<td id="recovered-long-<%%VALUE(id)%%>" class="recovered-long text-right"><%%SELECT%%><%%VALUE(long)%%><%%ENDSELECT%%></td>
		<td id="recovered-date-<%%VALUE(id)%%>" class="recovered-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="recovered-value-<%%VALUE(id)%%>" class="recovered-value text-right"><%%SELECT%%><%%VALUE(value)%%><%%ENDSELECT%%></td>
